@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');


/* - Mobile: 480px
- Desktop: 1440px */

:root{
    --primary-violet: rgb(139, 72, 191);
    --primary-blue: #3CDDF3;
    --dark-blue: #232851;
    --dark-gray-blue: #1E1E26;
    --light-gray: rgb(249, 249, 249); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.header{
    display: flex;
    justify-content: space-evenly;
    padding:2rem 0;
    align-items: center;
    margin:2rem 0;
}
.header .container_hamburger{
    display:none;
}
.header .menu ul{
    display: flex;
    gap: 1.2rem;
}

.header .menu ul li{
    list-style: none;
    font-weight: 500;
    font-size: 0.8rem;
    line-height:1.4rem;
}

.header .menu ul li:hover{
    color:#242E52;
    opacity: 0.6;
    cursor: pointer;
}

.header .contacts button{
    border:none;
    display: inline-block;
    color: white;
    background-color: var(--primary-violet);
    padding: 10px;
    height: 44px;
    width: 134px;
    border-radius: 50px;
    box-shadow:  6px 6px 16px #ececec; 
    
}

.container{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.container div{
    width: 450px;
}

.main_banner{
    padding: 4rem 2rem;
}

.main_banner .photo_container img{
    width: 100%;
}

.main_banner .banner_text_container{
    text-align: right;
    padding-top:1rem;
}

 
.main_banner .banner_text_container h1{
    font-weight: 700;
    font-size:2.75rem;
    line-height: 3rem;
    
}

.main_banner .banner_text_container p{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1.5rem 0;
}

.main_banner .banner_text_container button{
    border:none;
    display: inline-block;
    color: white;
    background-color: var(--primary-violet);
    padding: 10px;
    height: 44px;
    width: 134px;
    border-radius: 50px;
}

.pros_section .pros_introduction{
    background-color: var(--primary-violet);
    padding: 2.5rem 0;
    color:white;
    margin-top:2rem;
}


.pros_section .pros_introduction h2{
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.5rem;
}


.pros_section .pros_introduction p{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}


.pros_section .items{
    background-color: var(--light-gray);
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    padding:2rem 5rem;
}
.pros_section .items .pro_item{
    max-width: 485px;
    position:relative;
    padding-top:3rem;
    margin:1rem 4rem;
}

.pros_section .items .pro_item .title{
    position: absolute;
    left:-100px;
    top:0;
} 

.pros_section .items .pro_item .title .button{
    border:none;
    color: white;
    display: inline-block;
    background-color: var(--primary-violet);
    padding: 10px;
    height: 44px;
    width: 70px;
    text-align: center;
    border-radius: 30px;
    margin-right:1.5rem;
} 

.pros_section .items .pro_item .title .text{
    font-weight: 700;
    font-size: 1rem;
    line-height:1.5rem;
} 

.pros_section .items .pro_item > .text{
    font-weight: 500;
    font-size: 1rem;
    line-height:1.5rem;
    color: #B3B2B7;
} 

.award_section{
    margin:3rem 0 8rem;
}
.award_section h2{
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem; 
}

.athletes_container{
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    margin:4rem 0;
}

.athletes_container .athlete{
    width:445px;
    text-align: center;
    background-color: var(--light-gray);
    position: relative;
    padding: 5.5rem 0.5rem 1rem;

}

.athletes_container .athlete img{
    position: absolute;
    top:-30px;
    right:calc(50% - 40px);
}

.athletes_container .athlete h3{
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.athletes_container .athlete p{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #B9B9C1;
}
.award_section  button{
    border:none;
    display: block;
    color: white;
    background-color: var(--primary-violet);
    padding: 10px;
    height: 44px;
    width: 134px;
    border-radius: 50px;
    margin: 0 auto;
}


.teams_section{
    background-color: var(--primary-violet);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
    flex-wrap: wrap;
}

.teams_section .title_container{
    width: 420px;
}
.teams_section .title_container h2{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    color:white;
}

.teams_section .button_container button{
    border:none;
    display: block;
    color:var(--primary-violet);
    background-color: white;
    padding: 10px;
    height: 44px;
    width: 134px;
    border-radius: 50px;
    margin: 0 auto;
    font-weight: 500;
}

footer{
    height:247px;
    background-color: var(--dark-gray-blue);
    color:white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding:2rem 0;
}

footer .logos_container{
    display: flex;
    gap:0.5rem;
    flex-direction: column;
}

footer .logos_container ul{   
    display: flex;
    gap:0.8rem;
    margin-top:2rem;
}

footer .logos_container ul li{
    width: 20px;
    height: 20px;
    list-style: none;
}

footer .container-footer{
    display: flex;
    justify-content: space-between;
    width:300px;
}

footer .container-footer ul{
    list-style: none;
}

footer .container-footer ul li{
    margin-bottom:0.8rem;
}

footer form input[type="text"]{
    display: inline-block;
    border-radius: 50px;
    width: 201px;
    height: 44px;
    padding:10px;
}


footer form input[type="submit"]{
    border:none;
    color: white;
    display: inline-block;
    background-color: var(--primary-violet);
    padding: 10px;
    height: 44px;
    width: 70px;
    text-align: center;
    border-radius: 30px;
    margin-right:1.5rem;
}

footer p{
    position:absolute;
    color:#8C8C94;
    bottom:20px;
    right:calc(50% - 37%);
}

@media (max-width:700px ){
    .header{
        justify-content:space-around;
    }
    .header .menu {
        display: none;
    }
    
    .header .contacts {
        display: none;
    }

    .header .container_hamburger {
        display: block;
    }

    .main_banner {
        padding-bottom: 3rem;
    }

    .pros_section .pros_introduction{
        background-color: var(--primary-blue);
        padding: 2rem;
        margin-bottom: 2rem;
    }

    .pros_section .pros_introduction h2{
        margin-bottom: 2.5rem;
    }
    
    .pros_section .items{
        padding:1rem 0 1rem 3rem;
        gap:3rem;
    }
    .pros_section .items .pro_item{
        margin:0 ;
        width: 100%;
    }
    .pros_section .items .pro_item .title{
        left:0px;
        width:100%;
        background-color: rgba(139, 72, 191, 0.5);
        border-radius: 30px 0 0 30px;
    } 

    .teams_section{
        background-color: var(--primary-blue);
    }
    .teams_section .title_container{
        text-align:center;
        margin: 0;
    }
    .teams_section .title_container h2{
        width:320px;
        text-align: center;
        margin: 2rem auto;
    }

    .award_section{
        margin-bottom: 3.5rem;
    }
    .athletes_container .athlete{
        display:none;
    }
    .athletes_container .first{
        display:block;
    }


    footer{
        height: auto;
        flex-direction: column-reverse;
        padding:3rem 0;
    }

    footer form{
        margin-bottom: 1rem;
    }

    footer p{
        bottom:10px;
        right:calc(50% - 27%);
    }

    footer .logos_container{
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
    }
    footer .logos_container .store_logo_container{
        margin: 1rem auto;
    }

    footer .logos_container ul{
        width: 100%;
        justify-content: space-around;
    }

    footer form input[type="submit"]{
        width: 270px;
      
    }

    
}